<html>
    <head>
        <title>Change Details</title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="registerform">
            <h5>Change Account Details!</h5>
            <div id="editAccount">
            <form>
                <input type='hidden' id='userId' value={{userId}}>
                <h7>First Name</h7><br>
                <input id='firstNameEntry' type='text' placeholder='First Name' value='{{firstName}}'/><br>
                <h7>Last Name</h7><br>
                <input id='lastNameEntry' type='text' placeholder='Last Name' value='{{lastName}}'/><br>
                <h7>Email</h7><br>
                <input id='emailEntry' type='text' placeholder='Email' value='{{email}}'/><br>
                <h7>Zip Code</h7><br>
                <input id='zipEntry' type='text' placeholder='Zip Code' value='{{zipCode}}'/><br>
                <h7>User ID</h7><br>
                <input id='idBar' type='text' placeholder='User Name' value='{{userName}}'/><br>
                <h7>Enter Password</h7><br>
                <input id='pwBar1' type='password' placeholder='Password' value='{{password}}'/><br>
                <h7>Confirm Password</h7><br>
                <input id='pwBar2' type='password' placeholder='Confirm Password' value='{{password}}'/><br>
                <br>
                <div id="invalidDiv" style="white-space: pre; color: red; margin-bottom: 10px;"></div>
                <br>               
                <input id='btn' type='button' class ='styledButton' value='Submit Changes'/>
                <br><br>
            </form>
            <form action="/homePage" method="get">
                <input id='styledButton' name ='styledButton' type="submit" value="Back to Home Page" />
            </form>
            </div>
        </div>
        <script src="changeInfo.js"></script>
    </body>
</html>
