<html>
    <head>
        <title>Search Results</title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="searchResults.js"></script>

    </head>
    <body>
        <div class="registerform">
            <h5>Here are Your Results!</h5>
            

            <table style="width:60%" class="resTbl" id="resultsTable">
                <tr>
                    <th> Doctor </th>
                    <th> Insurance </th>
                    <th> Distance </th>
                    <th> Origin </th>
                    <th> Price  </th>
                    <th> Date </th> 
                </tr>
                {{#each showAllResults}}
                <tr><span>
                    <td>{{doctor}}</td> 
                    <td>{{insurance}}</td> 
                    <td>{{distance}} miles</td> 
                    <td>{{origin}}</td> 
                    <td>${{price}}</td>
                    <td>{{date}}</td>
                </tr>
                {{/each}}
       </div>
        <div id="errorDiv"></div>
    </body>
</html>

